<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzf.mapper.DiscussMapper">
    <select id="queryAllById" resultType="com.zzf.entity.Discuss">
        select d.ID,
               d.CONTENT,
               d.ARTICLE_ID,
               d.PARENT_ID,
               d.REPLY_ID,
               d.ADDRESS,
               d.CREATE_TIME,
               u.USERNAME
        from t_discuss as d
                 left join t_user as u on d.CREATE_BY = u.ID
        where d.ARTICLE_ID = #{id}
          and d.IS_DELETE = 0
        order by d.CREATE_TIME desc
    </select>
</mapper>
