<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzf.mapper.FavoriteMapper">

    <resultMap id="BaseResultMap" type="com.zzf.entity.Favorite">
            <id property="id" column="ID" jdbcType="VARCHAR"/>
            <result property="title" column="TITLE" jdbcType="VARCHAR"/>
            <result property="img" column="IMG" jdbcType="VARCHAR"/>
            <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
            <result property="link" column="LINK" jdbcType="VARCHAR"/>
            <result property="isRelease" column="IS_RELEASE" jdbcType="CHAR"/>
            <result property="orderNum" column="ORDER_NUM" jdbcType="TINYINT"/>
            <result property="category" column="CATEGORY" jdbcType="VARCHAR"/>
            <result property="createBy" column="CREATE_BY" jdbcType="VARCHAR"/>
            <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="UPDATE_BY" jdbcType="VARCHAR"/>
            <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="IS_DELETE" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,TITLE,IMG,
        REMARK,LINK,IS_RELEASE,
        ORDER_NUM,CATEGORY,CREATE_BY,
        CREATE_TIME,UPDATE_BY,UPDATE_TIME,
        IS_DELETE
    </sql>
    <select id="selectFavorites" resultType="com.zzf.entity.Favorite">
        select
        <include refid="Base_Column_List"></include>
        from T_FAVORITE
    </select>
    <select id="selectTags" resultType="com.zzf.vo.Labels">
        select count(1) as count, CATEGORY as category
        from T_FAVORITE
        group by CATEGORY
    </select>
</mapper>
