<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzf.mapper.ResourceMapper">

    <resultMap id="BaseResultMap" type="com.zzf.entity.Resource">
            <result property="id" column="ID" jdbcType="VARCHAR"/>
            <result property="name" column="NAME" jdbcType="VARCHAR"/>
            <result property="type" column="TYPE" jdbcType="VARCHAR"/>
            <result property="url" column="URL" jdbcType="VARCHAR"/>
            <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
            <result property="dueDate" column="DUE_DATE" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="UPDATE_BY" jdbcType="VARCHAR"/>
            <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="IS_DELETE" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,NAME,TYPE,
        URL,REMARK,DUE_DATE,
        CREATE_TIME,UPDATE_BY,UPDATE_TIME,
        IS_DELETE
    </sql>
</mapper>
